@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

/*background*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #efdddf;
}

li, a, button {
    font-family: "Open+Sans";
    font-weight: 300;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

header{ 
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
}

/*checkout*/
button {
    background-color:#ECECEC;
    padding: 30px 50px;
    cursor:pointer;
}

/*logo*/
.legologo {
    position:relative;
    margin-top: 20px;
    margin-left:0px;
    cursor:pointer;
    height: 100px;
    width: 200px;
}

.nav-link li {
    display: inline-block;
    padding: 1px 100px;
}

.nav-link li {
    transition: all 2s ease 0s;

}
/* interactive hover */
.nav-link li a:hover {
    color: #FFFF00;
}

.bonsaiIMG {
display:block;
margin-left: auto;
margin-right: auto;
height: 30em;
width: 60em;
padding-top: 10em;
}

.FindOutbtn {
    display:block;
margin-left: auto;
margin-right: auto;
background-color:#FFA500;
;
}
